<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/administracion.css" />
    <title>Administracion</title>
  </head>
  <body>
    <header class="header">
      <div class="arriba">
        <div class="container">
          <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba" />
        </div>
      </div>
      <div class="container">
        <a href="https://app-cers.herokuapp.com/" class="logo"
          ><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"
        /></a>
        <nav class="nav">
          <ul class="nav-hijo">
            <li>
              <a href="#">INSTITUCION</a>
              <ul>
                <li>
                  <a href="identificacion">IDENTIFICACION INSTITUCIONAL</a>
                </li>
                <li><a href="resena">RESEÑA HISTORICA</a></li>
                <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                <li><a href="politicassst">POLITICAS SST</a></li>
                <li><a href="">ORGANIGRAMA</a></li>
                <li><a href="">RECURSO TECNICO</a></li>
              </ul>
            </li>
            <li>
              <a href="programas">PROGRAMAS TECNICOS LABORALES</a>
              <ul>
                <li>
                  <a href="">AREA ADMINISTRATIVA</a>
                  <ul>
                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                    <li>
                      <a href="administrativo">AUXILIAR ADMINISTRATIVO</a>
                    </li>
                    <li>
                      <a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a>
                    </li>
                    <li>
                      <a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE LA TECNOLOGIOA</a>
                  <ul>
                    <li>
                      <a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a>
                    </li>
                    <li>
                      <a href="asistente"
                        >ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA
                        INFORMACION</a
                      >
                    </li>
                    <li>
                      <a href="mantenimiento"
                        >MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE VENTAS Y SERVICIOS </a>
                  <ul>
                    <li>
                      <a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE OFICIOS Y SERVICIOS</a>
                  <ul>
                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                    <li>
                      <a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a>
                    </li>
                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                    <li>
                      <a href="refrigeracion"
                        >AIRE ACONDICIONADO Y REFRIGERACION</a
                      >
                    </li>
                    <li>
                      <a href="electricista"
                        >ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE SALUD</a>
                  <ul>
                    <li>
                      <a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE EDUCACION</a>
                  <ul>
                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA AGROPECUARIA</a>
                  <ul>
                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="practicas">PRACTICAS</a></li>
            <li><a href="">NOTAS</a></li>
            <li><a href="">MANUAL DE CALIDAD</a></li>
            <li><a href="">MANUAL DE CONVIVENCIA</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="administacion">
      <div class="titulo">
        <h1>Bienvenidos al panel de Administracion</h1>
      </div>
      <div class="contenedor-administracion">
        <div class="item-administracion">
          <div class="img">
            <img src="../img/subir.jpeg" alt="subir notas" />
          </div>
          <a href="subirnotas">Subir notas</a>
        </div>
        <div class="item-administracion">
          <div class="img">
            <img src="../img/usuarios.jpeg" alt="usuarios" />
          </div>
          <a href="usuarios">Usuarios</a>
        </div>
        <div class="item-administracion">
          <div class="img">
            <img src="../img/inscritos.jpeg" alt="inscripciones" />
          </div>
          <a href="inscritos">Inscritos</a>
        </div>
        <div class="item-administracion">
          <div class="img">
            <img src="../img/inscripciones.jpeg" alt="inscribir" />
          </div>
          <a href="inscripciones">Inscribir</a>
        </div>
        <div class="item-administracion">
          <div class="img">
            <img src="../img/inscritosweb.jpeg" alt="inscribir" />
          </div>
          <a href="inscritosweb">Inscritos web</a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer">
        <div class="caja-contenedor">
          <div class="caja">
            <h3>noticias e informacion</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Cupiditate aperiam ratione consectetur porro inventore laborum
              maxime, ipsa molestias eum itaque. Accusamus, accusantium illum
              sit commodi deleniti veniam libero labore unde!
            </p>
          </div>
          <div class="caja">
            <h3>buscanos en</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">pinterest</a>
            <a href="#">twitter</a>
          </div>
          <div class="caja">
            <h3>mas informacion</h3>
            <div class="info">
              <i class="fa-solid fa-phone" style="color: blueviolet"></i>
              <p>
                123-456-789 <br />
                798-444-521
              </p>
            </div>
            <div class="caja">
              <h3>ADMINISTRACION</h3>
              <a href="auth">administracion</a>
            </div>
            <div class="info">
              <i class="fa-solid fa-envelope" style="color: blueviolet"></i>
              <p>holamundo@gmail.com<br />helloword@gmail.com</p>
            </div>
            <div class="info">
              <i class="fa-solid fa-location-dot" style="color: blueviolet"></i>
              <p>
                since sucre<br />
                calle 14 carre 7
              </p>
            </div>
          </div>
        </div>

        <h1 class="creditos">&copy, copyright @ alumno ramilian rincon</h1>
      </div>
    </footer>
  </body>
</html>
