<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>AUXILIAR DE CORTE</title>
</head>
<body>   
    <header class="header">
        <div class="arriba">
            <div class="container">
                <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba">
            </div>
            </div>
        <div class="container">
            <a href="index" class="logo"><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"></a>
            <nav class="nav">
                <ul class="nav-hijo">
                    <li><a href="#">INSTITUCION</a>
                        <ul>
                            <li><a href="identificacion">IDENTIFICACION INSTITUCIONAL</a></li>
                            <li><a href="resena">RESEÑA HISTORICA</a></li>
                            <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                            <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                            <li><a href="politicassst">POLITICAS SST</a></li>
                            <li><a href="">ORGANIGRAMA</a></li>
                            <li><a href="">RECURSO TECNICO</a></li>
                        </ul>
                    </li>
                    <li><a href="programas">PROGRAMAS TECNICOS LABORALES</a>
                        <ul>
                            <li><a href="">AREA ADMINISTRATIVA</a>
                                <ul>
                                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                                    <li><a href="administrativo">AUXILIAR ADMINISTRATIVO</a></li>
                                    <li><a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a></li>
                                    <li><a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a></li>
                                </ul>
                             </li>
                            <li><a href="">AREA DE LA TECNOLOGIOA</a>
                                <ul>
                                    <li><a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a></li>
                                    <li><a href="asistente">ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA INFORMACION</a></li>
                                    <li><a href="mantenimiento">MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE VENTAS Y SERVICIOS </a>
                                <ul>
                                    <li><a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE OFICIOS Y SERVICIOS</a>
                                <ul>
                                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                                    <li><a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a></li>
                                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                                    <li><a href="refrigeracion">AIRE ACONDICIONADO Y REFRIGERACION</a></li>
                                    <li><a href="electricista">ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE SALUD</a>
                                <ul>
                                    <li><a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE EDUCACION</a>
                                <ul>
                                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA AGROPECUARIA</a>
                                <ul>
                                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="practicas">PRACTICAS</a></li>
                    <li><a href="">NOTAS</a></li>
                    <li><a href="">MANUAL DE CALIDAD</a></li>
                    <li><a href="">MANUAL DE CONVIVENCIA</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="somos-proya" class="somos-proya">
        <div class="container">
            <div class="img-bienvenido"></div>
            <div class="texto">
               <div style="text-align: center; padding: 50px; margin: 50px;">
                <div class="mh-wrapper mh-clearfix">
                    <div id="main-content" class="mh-content" role="main" itemprop="mainContentOfPage"><article id="page-110" class="post-110 page type-page status-publish hentry">
                    <header class="entry-header">
                        <h1 class="entry-title page-title">Auxiliar Corte y Confección y Modas</h1>	</header>
                    <div class="entry-content mh-clearfix">
                        <p style="text-align: center;"><span style="color: #800080;"><strong>AUXILIAR CORTE Y CONFECCIÓN Y MODAS </strong><strong>(Res 4134 DE 22/10/2019)</strong></span></p>
                <p style="text-align: center;">DESCARGA AQUI TU PENSUM ACADEMICO</p>
                <p style="text-align: center;"><a href="https://www.institutocers.edu.co/wp-content/uploads/2021/06/AUXILIAR-CORTE-Y-CONFECCION-RESOLUCION-N.pdf" rel="attachment wp-att-638"><img loading="lazy" class="alignnone size-full wp-image-638" src="https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1.jpg" alt="" width="225" height="225" srcset="https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1.jpg 225w, https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1-150x150.jpg 150w" sizes="(max-width: 225px) 100vw, 225px"></a><br>
                <span style="color: #800080;"> <strong>NOMBRE DE LAS OCUPACIONES DESEMPEÑADAS POR EL EGRESADO:</strong></span></p>
                <ul>
                <li>Auxiliar, diseño de modas</li>
                <li>Patronista</li>
                <li>Patronista, prendas de vestir</li>
                <li>Patronista, ropa</li>
                <li>Operador de máquina, plana</li>
                <li style="list-style-type: none;"></li>
                </ul>
                <p><strong>PRINCIPALES FUNCIONES QUE SE EJECUTAN:</strong></p>
                <ul>
                <li>Analizar bosquejos, muestras de artículos y especificaciones de diseños para determinar número, talla y forma de los patrones y cantidad de tela requerida para fabricar el producto.</li>
                <li>Trazar el patrón principal sobre la tela y cortar el patrón muestra.</li>
                <li>Delinear partes del patrón sobre papel y marcar detalles como ubicación de bolsillos y pliegues en prendas, pespuntes decorativos en partes del calzado, ojetes y otros detalles de los productos.</li>
                <li>Trazar, disponer y cortar el patrón principal del producto</li>
                <li>Marcar la talla, identificación, estilo y otra información sobre patrones muestra.</li>
                <li>Crear y diseñar ropa y accesorios.</li>
                <li>Operar máquinas de coser de una, doble o múltiple aguja para unir piezas de prendas de vestir y otros artículos de tela, piel o cuero.</li>
                </ul>
                <ul>
                <li style="list-style-type: none;">
                <ul>
                <li style="list-style-type: none;"></li>
                </ul>
                </li>
                </ul>
                <p style="text-align: center;">
                    </p></div>
                </article>	</div>
               </div>
              </div>
              </div>
      </section>
       
    <footer class="footer">
        <div class="footer">
            <div class="caja-contenedor">
                <div class="caja">
                    <h3>noticias e informacion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate aperiam ratione consectetur porro inventore laborum maxime, ipsa molestias eum itaque. Accusamus, accusantium illum sit commodi deleniti veniam libero labore unde!</p>
                </div>
                <div class="caja">
                    <h3>buscanos en</h3>
                    <a href="#">facebook</a>
                    <a href="#">instagram</a>
                    <a href="#">pinterest</a>
                    <a href="#">twitter</a>
                </div>
                <div class="caja">
                    <h3>mas informacion</h3>
                    <div class="info">
                        <i class="fa-solid fa-phone" style="color: blueviolet;"></i>
                        <p>123-456-789 <br> 798-444-521</p>
                    </div>
                    <div class="caja">
                    <h3>ADMINISTRACION</h3>
                   <a href="auth">administracion</a>
                </div>
                    <div class="info">
                        <i class="fa-solid fa-envelope" style="color:blueviolet;"></i>
                        <p>holamundo@gmail.com<br>helloword@gmail.com</p>
                    </div>
                    <div class="info">
                        <i class="fa-solid fa-location-dot" style="color: blueviolet;"></i>
                        <p>since sucre<br> calle 14 carre 7</p>
                    </div>
                </div>
            </div>
    
            <h1 class="creditos">
                &copy, copyright @ alumno ramilian rincon
            </h1>
        </div>
    
    </footer>
</body>
</html>