<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>AUXILIAR EN SERVICIOS FARMACEUTICOS</title>
</head>
<body>   
    <header class="header">
        <div class="arriba">
            <div class="container">
                <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba">
            </div>
            </div>
        <div class="container">
            <a href="https://app-cers.herokuapp.com/" class="logo"><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"></a>
            <nav class="nav">
                <ul class="nav-hijo">
                    <li><a href="#">INSTITUCION</a>
                        <ul>
                            <li><a href="identificacion">IDENTIFICACION INSTITUCIONAL</a></li>
                            <li><a href="resena">RESEÑA HISTORICA</a></li>
                            <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                            <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                            <li><a href="politicassst">POLITICAS SST</a></li>
                            <li><a href="">ORGANIGRAMA</a></li>
                            <li><a href="">RECURSO TECNICO</a></li>
                        </ul>
                    </li>
                    <li><a href="programas">PROGRAMAS TECNICOS LABORALES</a>
                        <ul>
                            <li><a href="">AREA ADMINISTRATIVA</a>
                                <ul>
                                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                                    <li><a href="administrativo">AUXILIAR ADMINISTRATIVO</a></li>
                                    <li><a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a></li>
                                    <li><a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a></li>
                                </ul>
                             </li>
                            <li><a href="">AREA DE LA TECNOLOGIOA</a>
                                <ul>
                                    <li><a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a></li>
                                    <li><a href="asistente">ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA INFORMACION</a></li>
                                    <li><a href="mantenimiento">MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE VENTAS Y SERVICIOS </a>
                                <ul>
                                    <li><a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE OFICIOS Y SERVICIOS</a>
                                <ul>
                                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                                    <li><a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a></li>
                                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                                    <li><a href="refrigeracion">AIRE ACONDICIONADO Y REFRIGERACION</a></li>
                                    <li><a href="electricista">ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE SALUD</a>
                                <ul>
                                    <li><a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE EDUCACION</a>
                                <ul>
                                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA AGROPECUARIA</a>
                                <ul>
                                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="practicas">PRACTICAS</a></li>
                    <li><a href="">NOTAS</a></li>
                    <li><a href="">MANUAL DE CALIDAD</a></li>
                    <li><a href="">MANUAL DE CONVIVENCIA</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="somos-proya" class="somos-proya">
        <div class="container">
            <div class="img-bienvenido"></div>
            <div class="texto">
               <div style="text-align: center; padding: 50px; margin: 50px;">
                <div class="mh-wrapper mh-clearfix">
                    <div id="main-content" class="mh-content" role="main" itemprop="mainContentOfPage"><article id="page-118" class="post-118 page type-page status-publish hentry">
                    <header class="entry-header">
                        <h1 class="entry-title page-title"><span style="color: #800080;">Auxiliar en Servicios Farmacéuticos</h1></span>	</header>
                    <div class="entry-content mh-clearfix">
                        <p style="text-align: center;"><span style="color: #800080;"><strong>AUXILIAR EN SERVICIOS FARMACEUTICOS (Resolución N° 0580 de 13/02/2017), acuerdo 0038 de 12/12/2016.<br>
                </strong></span></p>
                <p style="text-align: center;">Descarga aquí tu pensum</p>
                <p style="text-align: center;"><a href="https://www.institutocers.edu.co/wp-content/uploads/2021/07/PENSUM-DE-FARMACIA.pdf"><img loading="lazy" class="size-thumbnail wp-image-638 aligncenter" src="https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1-150x150.jpg" alt="" width="150" height="150" srcset="https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1-150x150.jpg 150w, https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1.jpg 225w" sizes="(max-width: 150px) 100vw, 150px"></a></p>
                <p style="text-align: center;"><strong><span style="color: #800080;">OCUPACIONES QUE EL EGRESADO PUEDE DESEMPEÑAR</span></strong></p>
                <ul>
                <li>Asistente, farmacia</li>
                <li>Auxiliar, droguería</li>
                <li>Auxiliar, servicios farmacéuticos</li>
                <li>Vendedor, farmacia</li>
                </ul>
                <p style="text-align: center;"><strong><span style="color: #800080;">PRINCIPALES FUNCIONES QUE SE EJECUTAN</span></strong></p>
                <ul>
                <li>Recibir y despachar pedidos de medicamentos a los diferentes usuarios de los servicios de farmacia.</li>
                <li>Clasificar y ordenar medicamentos y productos farmacéuticos de conformidad con normas y procedimientos y vigilar el período de vigencia de los medicamentos.</li>
                <li>Suministrar medicamentos y dar instrucciones verbales y por escrito sobre su utilización, en la forma preescrita por médicos u otros profesionales de la salud.</li>
                <li>Preparar medicamentos bajo la supervisión de farmacéuticos.</li>
                <li>Mantener registros de fórmulas e inventarios de medicamentos y drogas de control.</li>
                <li>Controlar la existencia y el surtido de medicamentos.</li>
                <li>Elaborar y tramitar documentos relacionados con transferencias de medicamentos.</li>
                </ul>
                <p style="text-align: center;"><img loading="lazy" class="size-full wp-image-914" src="http://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-10.58.48.jpg" alt="2014-02-15 10.58.48" width="1000" height="960" srcset="https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-10.58.48.jpg 1280w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-10.58.48-300x225.jpg 300w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-10.58.48-1024x768.jpg 1024w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-10.58.48-301x226.jpg 301w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-10.58.48-400x300.jpg 400w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-10.58.48-100x75.jpg 100w" sizes="(max-width: 1280px) 100vw, 1280px"></p>
                <p><strong><img loading="lazy" class="aligncenter size-full wp-image-918" src="http://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-11.04.37.jpg" alt="2014-02-15 11.04.37" width="1000" height="960" srcset="https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-11.04.37.jpg 1280w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-11.04.37-300x225.jpg 300w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-11.04.37-1024x768.jpg 1024w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-11.04.37-301x226.jpg 301w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-11.04.37-400x300.jpg 400w, https://www.institutocers.edu.co/wp-content/uploads/2014/03/2014-02-15-11.04.37-100x75.jpg 100w" sizes="(max-width: 1280px) 100vw, 1280px"><br>
                </strong></p>
                    </div>
                </article>	</div>
               </div>
              </div>
              </div>
      </section>
       
    <footer class="footer">
        <div class="footer">
            <div class="caja-contenedor">
                <div class="caja">
                    <h3>noticias e informacion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate aperiam ratione consectetur porro inventore laborum maxime, ipsa molestias eum itaque. Accusamus, accusantium illum sit commodi deleniti veniam libero labore unde!</p>
                </div>
                <div class="caja">
                    <h3>buscanos en</h3>
                    <a href="#">facebook</a>
                    <a href="#">instagram</a>
                    <a href="#">pinterest</a>
                    <a href="#">twitter</a>
                </div>
                <div class="caja">
                    <h3>mas informacion</h3>
                    <div class="info">
                        <i class="fa-solid fa-phone" style="color: blueviolet;"></i>
                        <p>123-456-789 <br> 798-444-521</p>
                    </div>
                    <div class="caja">
                    <h3>ADMINISTRACION</h3>
                   <a href="auth">administracion</a>
                </div>
                    <div class="info">
                        <i class="fa-solid fa-envelope" style="color:blueviolet;"></i>
                        <p>holamundo@gmail.com<br>helloword@gmail.com</p>
                    </div>
                    <div class="info">
                        <i class="fa-solid fa-location-dot" style="color: blueviolet;"></i>
                        <p>since sucre<br> calle 14 carre 7</p>
                    </div>
                </div>
            </div>
    
            <h1 class="creditos">
                &copy, copyright @ alumno ramilian rincon
            </h1>
        </div>
    
    </footer>
</body>
</html>