<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Cers</title>
</head>
<body>   
    <header class="header">
        <div class="arriba">
            <div class="container">
                <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba">
            </div>
            </div>
        <div class="container">
            <a href="index" class="logo"><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"></a>
            <nav class="nav">
                <ul class="nav-hijo">
                    <li><a href="#">INSTITUCION</a>
                        <ul>
                            <li><a href="identificacion">IDENTIFICACION INSTITUCIONAL</a></li>
                            <li><a href="resena">RESEÑA HISTORICA</a></li>
                            <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                            <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                            <li><a href="politicassst">POLITICAS SST</a></li>
                            <li><a href="">ORGANIGRAMA</a></li>
                            <li><a href="">RECURSO TECNICO</a></li>
                        </ul>
                    </li>
                    <li><a href="programas">PROGRAMAS TECNICOS LABORALES</a>
                        <ul>
                            <li><a href="">AREA ADMINISTRATIVA</a>
                                <ul>
                                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                                    <li><a href="administrativo">AUXILIAR ADMINISTRATIVO</a></li>
                                    <li><a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a></li>
                                    <li><a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a></li>
                                </ul>
                             </li>
                            <li><a href="">AREA DE LA TECNOLOGIOA</a>
                                <ul>
                                    <li><a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a></li>
                                    <li><a href="asistente">ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA INFORMACION</a></li>
                                    <li><a href="mantenimiento">MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE VENTAS Y SERVICIOS </a>
                                <ul>
                                    <li><a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE OFICIOS Y SERVICIOS</a>
                                <ul>
                                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                                    <li><a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a></li>
                                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                                    <li><a href="refrigeracion">AIRE ACONDICIONADO Y REFRIGERACION</a></li>
                                    <li><a href="electricista">ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE SALUD</a>
                                <ul>
                                    <li><a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE EDUCACION</a>
                                <ul>
                                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA AGROPECUARIA</a>
                                <ul>
                                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="practicas">PRACTICAS</a></li>
                    <li><a href="">NOTAS</a></li>
                    <li><a href="">MANUAL DE CALIDAD</a></li>
                    <li><a href="">MANUAL DE CONVIVENCIA</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="somos-proya" class="somos-proya">
        <div class="container">
            <div class="img-bienvenido"></div>
            <div class="texto">
            <h2>somos <span class="color-acento">Centro Educativo Regional de Sucre</span></h2>
               <p>Somos una institucion centrada en la educacion superior a jovenes para convertirlos en profesionales dandoles los conocimientos necesarios para desenvolverse en el ambito
                empresarial estamos comprometidos con el desarrollo de sus conocimientos... 
               </p>
              </div>
              </div>
      </section>
       
      <section id="nuestros-programas" class="nuestros-programas">
        <div class="container">
            <h2>Conoce Nuestros Programas de el Area Administrativa</h2>
        <div class="programas-container">   
        <div class="carta-uno">
            <h3>SECRETARIA GENERAL</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
            
        </div>
        <div class="carta-dos">
            <h3>AUXILIAR ADMINISTRATIVO</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
          
        </div>
        <div class="carta-tres">
            <h3>AUXILIAR CONTABLE Y FINANCIERA</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
           
        </div>
        <div class="carta-cuatro">
            <h3>SEGURIDAD OCUPACIONAL Y LABORAL</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
            
        </div>
    </div> 
    </div>
    <div class="container">
        <h2>Conoce Nuestros Programas de el Area de Tegnologia</h2>
    <div class="programas-container">   
    <div class="carta-cinco">
        <h3>AUXILIAR EN SISTEMAS INFORMATICOS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
        
    </div>
    <div class="carta-seis">
        <h3>ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA INFORMACION</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
       
    </div>
    <div class="carta-siete">
        <h3>MANTENIMIENTO DE EQUIPOS ELECTRONICOS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
       
    </div>
</div> 
</div>
<div class="container">
    <h2>Conoce Nuestros Programas de el Area de Ventas y Servicios</h2>
<div class="programas-container">   
<div class="carta-ocho">
    <h3>MERCADERISTAS E IMPULSADORES</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
   
</div>
</div> 
</div>
<div class="container">
    <h2>Conoce Nuestros Programas de el Area de Oficios y Servicios</h2>
<div class="programas-container">   
<div class="carta-nueve">
    <h3>PELUQUERO ESTILISTA</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
    
</div>
<div class="carta-dies">
    <h3>AUXILIAR CORTE, CONFECCION Y MODAS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
   
</div>
<div class="carta-once">
    <h3>MECANICO DE MOTORES DIESEL</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
    
</div>
<div class="carta-doce">
    <h3>AIRES ACONDICIONADOS Y REFRIGERACION</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
   
</div>
<div class="carta-trece">
    <h3>ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
</div>
</div>
</div>

<div class="container">
    <h2>Conoce Nuestros Programas de el Area de el Area de Salud</h2>
<div class="programas-container">   
<div class="carta-catorce">
    <h3>AUXILIAR EN SERVICIOS FARMACEUTICOS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
    
</div>
</div> 
</div>
<div class="container">
    <h2>Conoce Nuestros Programas de el Area de Educacion</h2>
<div class="programas-container">   
<div class="carta-quince">
    <h3>AUXILIAR DE PREESCOLAR</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
   
</div>
</div> 
</div>
<div class="container">
    <h2>Conoce Nuestros Programas de el Area Agropecuaria</h2>
<div class="programas-container">   
<div class="carta-dieciseis">
    <h3>TRABAJADOR AGROPECUARIO</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
    
</div>
</div> 
</div>
    </section>
    <section class="cursos-cortos">
        <div class="somos-proya">
            <div class="container">
                <div class="texto">
                    <div style="text-align: center; padding: 50px; margin: 50px;">
                         <h1><span style="color: #800080;">TAMBIEN CONTAMOS CON CURSOS CORTOS LOS CUALES SON:</span></h1><br>
                         <p>*INFORMATICA BASICA</p>
                         <p>*CORTES Y CONFECCION DE ROPAS</p>
                         <p>*CAJA SISTEMATIZADA</p>
                         <p>*CONTABILIDAD</p>
                         <p>*BELLEZA BASICA </p>
                         <p>*ENTRE OTROS</p>
                    </div>
                   </div>
            </div>
        </div>
    </section>
    <section class="diplomados">
        <div class="somos-proya">
            <div class="container">
                <div class="texto">
                    <div style="text-align: center; padding: 50px; margin: 50px;">
                         <h1><span style="color: #800080;">DIPLOMADOS EN:</span></h1><br>
                         <p>*Control Electrónico en la Inyección del Combustible</p>
                         <p>*Herramientas Avanzadas Para El Desarrollo De Habilidades En El Rol Secretarial</p>
                         <p>*Crédito Comercial y Cobranza</p>
                         <p>*Nuevas Tendencias del Marketing Contemporáneo.</p>
                         <p>*Pedagogía Infantil Como Desarrollo De Competencias En La Primera Infancia Regencia En Farmacia </p>
                         <p>*Seguridad E Higiene Industrial Con Enfasis En Trabajo En Altura</p>
                         <p>*Configuración y Mantenimiento de Computadores</p>
                    </div>
                   </div>
            </div>
        </div>
    </section>
    <section class="seminarios">
        <div class="somos-proya">
            <div class="container">
                <div class="texto">
                    <div style="text-align: center; padding: 50px; margin: 50px;">
                         <h1><span style="color: #800080;">SEMINARIOS EN:</span></h1><br>
                         <p>*Contabilidad De Pyme</p>
                         <p>*Transformación A Líderes</p>
                         <p>*Las Tic´s</p>
                         <p>*Como Realizar Tu Proyecto de Vida</p>
                         <p>*Estrés Laboral, Como Manejarlo Y Prevenirlo</p>
                         <p>*Servicio Al Cliente Y Manejo de Problemas, Quejas Y Reclamos (PQR)</p>
                         <p>*Bioseguridad</p>
                         <p>*Curso De Técnicas De Oficina</p>
                         <p>*Curso – Taller Montaje Del Plan Obligatorio De Seguridad Laboral</p>
                         <p>*Calidad Humana Corporativa</p>
                         <p>*Liderazgo: Desarrollo Personal Y Laboral</p>
                         <p>*Transversalidad Etica En El Comportamiento Laboral Y Personal</p>
                         <p>*Manejo De Tus Finanzas Personales</p>
                         <p>*Atencion Y Cuidados De Niños</p>
                    </div>
                   </div>
            </div>
        </div>
    </section>
    <section class="bienestar" id="bienestar">
      <div class="container">
        <h2>BIENESTAR INSTITUCIONAL</h2>
      </div>
      <div class="carta">
        <h3>FERIA EMPRESARIAL</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
        
    </div>
    <div class="carta">
        <h3>GRADOS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
        
    </div>
    <div class="carta">
        <h3>SEMANA CULTURAL</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel sit, minima animi reprehenderit eos totam maiores temporibus, ducimus rerum debitis suscipit nostrum! Dolore in soluta esse ullam exercitationem sint?</p>
        
    </div>
    <div class="boton">
        <a href="inscripcionesweb" class="btn">INSCRIBETE AQUI</a>
    </div>
    </section>
    <section class="contacto">
        <div class="container">
            <h3>CONTACTENOS</h3>
            <p>
                El Centro Educativo Regional de Sucre «CERS« desea que realicen las acciones de mejora, peticiones, quejas, reclamos y sugerencias que usted desea o conoce, por pertenecer a esta comunidad y que en muchas ocasiones no logramos conocer no nos la manifiesta, es por ello que te invitamos a escribir al correo <br> <br>
                <span class="color-acento">@gmail.com
                calidadcers@hotmail.com</span</p><br>
                <h1><iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3937.2913841341383!2d-75.40094273173688!3d9.307428860749075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e591437e28906e3%3A0xc038a5f1ee9a38f7!2sInstituto+CERS!5e0!3m2!1ses!2sco!4v1540509585487" width="900" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe></h1>
<h2 style="text-align: center;"><strong><span style="color: #800080;"></span></strong></h2>
<p><strong><span style="color: #800080;">SEDE PRINCIPAL DE CRUZ DE MAYO</span></strong></p>
<p>Carrera 17 N° 15-08</p>
<p>Teléfono:2820593-2811755 -2814690</p>
	</div>
</article>	</div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer">
            <div class="caja-contenedor">
                <div class="caja">
                    <h3>noticias e informacion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate aperiam ratione consectetur porro inventore laborum maxime, ipsa molestias eum itaque. Accusamus, accusantium illum sit commodi deleniti veniam libero labore unde!</p>
                </div>
                <div class="caja">
                    <h3>buscanos en</h3>
                    <a href="#">facebook</a>
                    <a href="#">instagram</a>
                    <a href="#">pinterest</a>
                    <a href="#">twitter</a>
                </div>
                <div class="caja">
                    <h3>mas informacion</h3>
                    <div class="info">
                        <i class="fa-solid fa-phone" style="color: blueviolet;"></i>
                        <p>123-456-789 <br> 798-444-521</p>
                    </div>
                    <div class="caja">
                    <h3>ADMINISTRACION</h3>
                   <a href="auth">administracion</a>
                </div>
                    <div class="info">
                        <i class="fa-solid fa-envelope" style="color:blueviolet;"></i>
                        <p>holamundo@gmail.com<br>helloword@gmail.com</p>
                    </div>
                    <div class="info">
                        <i class="fa-solid fa-location-dot" style="color: blueviolet;"></i>
                        <p>since sucre<br> calle 14 carre 7</p>
                    </div>
                </div>
            </div>
    
            <h1 class="creditos">
                &copy, copyright @ alumno ramilian rincon
            </h1>
        </div>
    
    </footer>
</body>
</html>