<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/principal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>PLATAFORMA ESTRATEGICA</title>
  </head>
  <body>
    <header class="header">
      <div class="arriba">
        <div class="container">
          <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba" />
        </div>
      </div>
      <div class="container">
        <a href="index" class="logo"
          ><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"
        /></a>
        <nav class="nav">
          <ul class="nav-hijo">
            <li>
              <a href="#">INSTITUCION</a>
              <ul>
                <li>
                  <a href="identificacion">IDENTIFICACION INSTITUCIONAL</a>
                </li>
                <li><a href="resena">RESEÑA HISTORICA</a></li>
                <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                <li><a href="politicassst">POLITICAS SST</a></li>
                <li><a href="">ORGANIGRAMA</a></li>
                <li><a href="">RECURSO TECNICO</a></li>
              </ul>
            </li>
            <li>
              <a href="programas">PROGRAMAS TECNICOS LABORALES</a>
              <ul>
                <li>
                  <a href="">AREA ADMINISTRATIVA</a>
                  <ul>
                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                    <li>
                      <a href="administrativo">AUXILIAR ADMINISTRATIVO</a>
                    </li>
                    <li>
                      <a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a>
                    </li>
                    <li>
                      <a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE LA TECNOLOGIOA</a>
                  <ul>
                    <li>
                      <a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a>
                    </li>
                    <li>
                      <a href="asistente"
                        >ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA
                        INFORMACION</a
                      >
                    </li>
                    <li>
                      <a href="mantenimiento"
                        >MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE VENTAS Y SERVICIOS </a>
                  <ul>
                    <li>
                      <a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE OFICIOS Y SERVICIOS</a>
                  <ul>
                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                    <li>
                      <a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a>
                    </li>
                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                    <li>
                      <a href="refrigeracion"
                        >AIRE ACONDICIONADO Y REFRIGERACION</a
                      >
                    </li>
                    <li>
                      <a href="electricista"
                        >ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE SALUD</a>
                  <ul>
                    <li>
                      <a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE EDUCACION</a>
                  <ul>
                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA AGROPECUARIA</a>
                  <ul>
                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="practicas">PRACTICAS</a></li>
            <li><a href="">NOTAS</a></li>
            <li><a href="">MANUAL DE CALIDAD</a></li>
            <li><a href="">MANUAL DE CONVIVENCIA</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="somos-proya" class="somos-proya">
      <div class="container">
        <div class="img-bienvenido"></div>
        <div class="texto">
          <h2>PLATAFORMA ESTRATEGICA</h2>
          <br />
          <h3>MISION</h3>
          <p style="text-align: center; padding: 50px; margin: 50px">
            Somos una Institución de Educación para el trabajo y desarrollo
            humano, fundada para impartir programas técnicos laborales con la
            más alta calidad, para formar personas con valores, capacidades y
            competencias necesarias para impulsar el desarrollo tecnológico,
            económico, ecológico, social y cultural, fortaleciendo la
            innovación, el conocimiento y la productividad de acuerdo con los
            adelantos tecnológicos y empresariales.
          </p>
          <br />
          <h3>VISION</h3>
          <P
            >El Centro Educativo Regional de Sucre “CERS” al 2025 se visiona
            como una excelente Institución de Educación Para El Trabajo y El
            Desarrollo Humano reconocida en el sector educativo, por sus
            programas certificados en calidad, la formación de técnicos
            laborales con liderazgo, calidad y pertinencia para atender la
            demanda del Sector Productivo, Promoviendo Constantemente el
            desarrollo Socio-económico a través de las nuevas tecnologías
            comprometidos con el medio ambiente e impulsando el sector
            empresarial.</P
          ><br />
          <h3>POLITICA CALIDAD</h3>
          <p>
            El Centro Educativo Regional de Sucre “CERS”, es una institución de
            Educación para el trabajo el Desarrollo Humano que busca la
            satisfacción permanente de los clientes, en concordancia con la
            normatividad vigente, mediante la prestación del servicio de
            formación Técnico Laboral acordes a las necesidades del sector
            productivo, con docentes idóneos, prácticas en ambientes reales y
            simulados, uso efectivo de las TICS, promoviendo el cuidado del
            medio ambiente, vinculación activa al mercado laboral, generando
            bienestar social a la comunidad, fundamentado en el proceso de
            mejoramiento continuo del sistema de gestión de calidad.
          </p>
          <br />
          <h3>OBJETIVO CALIDAD</h3>
          <p>
            Los objetivos de Calidad del Centro Educativo Regional de Sucre
            “CERS” son los siguientes: Garantizar la calidad en la prestación
            de servicios a nuestros clientes cumpliendo con los requisitos
            especificados en los procesos del Sistema de Gestión de Calidad.
            Incrementar el nivel de satisfacción de los clientes en los
            procesos del Sistema de Gestión de Calidad. Contribuir en la
            satisfacción de nuestros clientes, implementando el plan de
            Mejoramiento continuo para diagnosticar la eficacia y efectividad de
            nuestros procesos. Estructurar un proceso de formación para
            desarrollar en el recurso humano las competencias y motivación
            necesarias para lograr el mejoramiento continuo en su desempeño.
            Garantizar el uso eficiente de los recursos que conlleven a la
            optimización de nuestros procesos, contribuyendo a la sostenibilidad
            del ambiente.
          </p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer">
        <div class="caja-contenedor">
          <div class="caja">
            <h3>noticias e informacion</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Cupiditate aperiam ratione consectetur porro inventore laborum
              maxime, ipsa molestias eum itaque. Accusamus, accusantium illum
              sit commodi deleniti veniam libero labore unde!
            </p>
          </div>
          <div class="caja">
            <h3>buscanos en</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">pinterest</a>
            <a href="#">twitter</a>
          </div>
          <div class="caja">
            <h3>mas informacion</h3>
            <div class="info">
              <i class="fa-solid fa-phone" style="color: blueviolet"></i>
              <p>
                123-456-789 <br />
                798-444-521
              </p>
            </div>
            <div class="caja">
              <h3>ADMINISTRACION</h3>
              <a href="auth">administracion</a>
            </div>
            <div class="info">
              <i class="fa-solid fa-envelope" style="color: blueviolet"></i>
              <p>holamundo@gmail.com<br />helloword@gmail.com</p>
            </div>
            <div class="info">
              <i class="fa-solid fa-location-dot" style="color: blueviolet"></i>
              <p>
                since sucre<br />
                calle 14 carre 7
              </p>
            </div>
          </div>
        </div>

        <h1 class="creditos">&copy, copyright @ alumno ramilian rincon</h1>
      </div>
    </footer>
  </body>
</html>
