<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/principal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>POLITICAS SST</title>
  </head>
  <body>
    <header class="header">
      <div class="arriba">
        <div class="container">
          <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba" />
        </div>
      </div>
      <div class="container">
        <a href="index" class="logo"
          ><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"
        /></a>
        <nav class="nav">
          <ul class="nav-hijo">
            <li>
              <a href="#">INSTITUCION</a>
              <ul>
                <li>
                  <a href="identificacion">IDENTIFICACION INSTITUCIONAL</a>
                </li>
                <li><a href="resena">RESEÑA HISTORICA</a></li>
                <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                <li><a href="politicassst">POLITICAS SST</a></li>
                <li><a href="">ORGANIGRAMA</a></li>
                <li><a href="">RECURSO TECNICO</a></li>
              </ul>
            </li>
            <li>
              <a href="programas">PROGRAMAS TECNICOS LABORALES</a>
              <ul>
                <li>
                  <a href="">AREA ADMINISTRATIVA</a>
                  <ul>
                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                    <li>
                      <a href="administrativo">AUXILIAR ADMINISTRATIVO</a>
                    </li>
                    <li>
                      <a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a>
                    </li>
                    <li>
                      <a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE LA TECNOLOGIOA</a>
                  <ul>
                    <li>
                      <a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a>
                    </li>
                    <li>
                      <a href="asistente"
                        >ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA
                        INFORMACION</a
                      >
                    </li>
                    <li>
                      <a href="mantenimiento"
                        >MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE VENTAS Y SERVICIOS </a>
                  <ul>
                    <li>
                      <a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE OFICIOS Y SERVICIOS</a>
                  <ul>
                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                    <li>
                      <a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a>
                    </li>
                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                    <li>
                      <a href="refrigeracion"
                        >AIRE ACONDICIONADO Y REFRIGERACION</a
                      >
                    </li>
                    <li>
                      <a href="electricista"
                        >ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE SALUD</a>
                  <ul>
                    <li>
                      <a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE EDUCACION</a>
                  <ul>
                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA AGROPECUARIA</a>
                  <ul>
                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="practicas">PRACTICAS</a></li>
            <li><a href="">NOTAS</a></li>
            <li><a href="">MANUAL DE CALIDAD</a></li>
            <li><a href="">MANUAL DE CONVIVENCIA</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="somos-proya" class="somos-proya">
      <div class="container">
        <div class="img-bienvenido"></div>
        <div class="texto">
          <h2>POLITICAS SST</h2>
          <br />
          <h3>POLITICAS SST</h3>
          <p style="padding: 50px; margin: 50px">
            POLÍTICA PARA LA PREVENCIÓN PARA EL CONSUMO DE ALCOHOL, TABACO Y
            SUSTANCIAS PSICOACTIVAS. CENTRO EDUCATIVO REGIONAL DE SUCRE – CERS
            reconoce que tanto la drogadicción, como el alcoholismo y
            tabaquismo, son factores que atentan contra el bienestar y la
            seguridad; laboral, social, familiar y con el medio ambiente.
            Atendiendo lo anterior, la Gerencia de la Institución ha establecido
            normas y criterios de alcohol, drogas y tabaquismo, buscando con
            esto erradicar el consumo, porte o estado de éstos dentro de las
            actividades de la organización.<br /><br />

            La presente política plantea programas que buscan garantizar la
            seguridad y salud en el trabajo enfocados a obtener un ambiente
            laboral sano, seguro y adecuado para todas las personas que de una u
            otra forma se encuentran vinculados, a su vez busca prevenir los
            efectos adversos de las sustancias psicoactivas en la salud
            integral, en el desempeño, en el espacio donde se encuentren y en la
            productividad de las personas. Por esta razón nuestros compromisos
            son:<br /><br />

            • Evitar el uso de alcohol, tabaco, drogas enervantes y otras
            sustancias psicoactivas que generen adicción, durante la jornada
            laboral. Sean estas dentro o fuera de las instalaciones de la misma,
            y/o con uniforme de trabajo o prendas representativas de la
            institución.<br />
            • Asistir al trabajo bajo la influencia de alcohol, drogas
            enervantes u otras sustancias psicoactivas.<br />
            • En eventos controlados y organizados por la Corporación, sólo la
            alta Dirección, tendrán la facultad para permitir el consumo de
            bebidas alcohólicas, teniendo en cuenta el motivo del encuentro.<br />
            • Prohibir la venta o distribución de alcohol, tabaco, drogas
            enervantes, sustancias psicoactivas que generen adicción en los
            sitios de trabajo.<br />
            • Asistir a todas las charlas de prevención que realice la
            Corporación sobre estos temas de manera atenta, puntual y
            participativa.<br />
            • La institución educativa, realizará pruebas de forma periódica,
            aleatoria y sin previo aviso a todos sus trabajadores, después de un
            accidente o cuando exista duda razonable, las pruebas se pueden
            ejecutar por la gerencia, representante del SG-SST o por los
            terceros que la gerencia designe para este fin.<br />
            • Negarse a la realización de pruebas, en el sitio o laboratorio,
            para comprobar la utilización de bebidas alcohólicas, drogas,
            sustancias alucinógenas, enervantes o que creen dependencia se
            considerara como falta grave y se dará tratamiento según lo
            estipulado en el reglamento interno de trabajo y código sustantivo
            de trabajo.
          </p>
          <br />
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer">
        <div class="caja-contenedor">
          <div class="caja">
            <h3>noticias e informacion</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Cupiditate aperiam ratione consectetur porro inventore laborum
              maxime, ipsa molestias eum itaque. Accusamus, accusantium illum
              sit commodi deleniti veniam libero labore unde!
            </p>
          </div>
          <div class="caja">
            <h3>buscanos en</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">pinterest</a>
            <a href="#">twitter</a>
          </div>
          <div class="caja">
            <h3>mas informacion</h3>
            <div class="info">
              <i class="fa-solid fa-phone" style="color: blueviolet"></i>
              <p>
                123-456-789 <br />
                798-444-521
              </p>
            </div>
            <div class="caja">
              <h3>ADMINISTRACION</h3>
              <a href="auth">administracion</a>
            </div>
            <div class="info">
              <i class="fa-solid fa-envelope" style="color: blueviolet"></i>
              <p>holamundo@gmail.com<br />helloword@gmail.com</p>
            </div>
            <div class="info">
              <i class="fa-solid fa-location-dot" style="color: blueviolet"></i>
              <p>
                since sucre<br />
                calle 14 carre 7
              </p>
            </div>
          </div>
        </div>

        <h1 class="creditos">&copy, copyright @ alumno ramilian rincon</h1>
      </div>
    </footer>
  </body>
</html>
