<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>PRACTICAS EMPRESARIALES</title>
</head>
<body>   
    <header class="header">
        <div class="arriba">
            <div class="container">
                <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba">
            </div>
            </div>
        <div class="container">
            <a href="principal" class="logo"><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"></a>
            <nav class="nav">
                <ul class="nav-hijo">
                    <li><a href="#">INSTITUCION</a>
                        <ul>
                            <li><a href="identificacion">IDENTIFICACION INSTITUCIONAL</a></li>
                            <li><a href="resena">RESEÑA HISTORICA</a></li>
                            <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                            <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                            <li><a href="politicassst">POLITICAS SST</a></li>
                            <li><a href="">ORGANIGRAMA</a></li>
                            <li><a href="">RECURSO TECNICO</a></li>
                        </ul>
                    </li>
                    <li><a href="programas">PROGRAMAS TECNICOS LABORALES</a>
                        <ul>
                            <li><a href="">AREA ADMINISTRATIVA</a>
                                <ul>
                                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                                    <li><a href="administrativo">AUXILIAR ADMINISTRATIVO</a></li>
                                    <li><a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a></li>
                                    <li><a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a></li>
                                </ul>
                             </li>
                            <li><a href="">AREA DE LA TECNOLOGIOA</a>
                                <ul>
                                    <li><a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a></li>
                                    <li><a href="asistente">ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA INFORMACION</a></li>
                                    <li><a href="mantenimiento">MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE VENTAS Y SERVICIOS </a>
                                <ul>
                                    <li><a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE OFICIOS Y SERVICIOS</a>
                                <ul>
                                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                                    <li><a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a></li>
                                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                                    <li><a href="refrigeracion">AIRE ACONDICIONADO Y REFRIGERACION</a></li>
                                    <li><a href="electricista">ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE SALUD</a>
                                <ul>
                                    <li><a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE EDUCACION</a>
                                <ul>
                                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA AGROPECUARIA</a>
                                <ul>
                                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="practicas">PRACTICAS</a></li>
                    <li><a href="">NOTAS</a></li>
                    <li><a href="">MANUAL DE CALIDAD</a></li>
                    <li><a href="">MANUAL DE CONVIVENCIA</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="somos-proya" class="somos-proya">
        <div class="container">
            <div class="img-bienvenido"></div>
            <div class="texto">
               <div style="text-align: center; padding: 50px; margin: 50px;">
                <h1><span style="color: #800080;">PRACTICAS EMPRESARIALES</span></h1>
                <p><span style="color: #800080;"><strong>OBJETIVO</strong></span><br>
                    * Complementar y afirmar los conocimientos impartidos en la Institución con la experiencia en la<br>
                    actividad profesional.<br>
                    * Contrastar los conocimientos teórico-prácticos obtenidos con relación a su aplicabilidad en la<br>
                    * actividad profesional en Instituciones públicas o empresas privadas, mediante su desempeño crítico<br>
                    que le permitirá tener una visión holística de su entorno.<br>
                    * Desarrollar en los estudiantes destrezas para un mejor desempeño profesional, fomentando sus<br>
                    actitudes de responsabilidad, cooperación y trabajo en equipos multidisciplinarios.<br>
                    * Generar un ámbito propicio para el establecimiento de convenios entre la Institución y diversas<br>
                    * entidades públicas y privadas que requieran de estudiantes en prácticas dentro de su estructura<br>
                    organizacional.<br>
                    *Brindar a los estudiantes la oportunidad para establecer un contacto formal con el mercado laboral.</p>
                    <p><em><strong><span style="color: #800080;">REQUISITOS PARA REALIZAR PRÁCTICAS:</span></strong></em></p>
                    <p> Haber cursado y aprobado doce (12) módulos y haber realizado la segunda renovación de matrícula.<br>
                     Asistir a la inducción de prácticas que la Institución programa.<br>
                     Entregar en la oficina de Auxiliar de prácticas la hoja de vida con todos los datos indicados en la<br>
                    inducción, máximo ocho (8) días hábiles después de la realización de ésta.</p>
                    <p><strong><span style="color: #800080;">INFORMACIÓN PARA TENER EN CUENTA:</span></strong></p>
                    <p> Cuando el estudiante haya asistido a dos (2) entrevistas o procesos de selección por solicitudes de<br>
                    empresas o entidades, sin obtener la vinculación a alguno de estos, la institución suspenderá el proceso<br>
                    de consecución de prácticas para el estudiante, delegándole esta responsabilidad.<br>
                     Cuando un estudiante inicie su práctica en una entidad sin autorización del Auxiliar de Prácticas y<br>
                    sin haber cumplido con los requisitos antes mencionados, esta no es válida y por tanto la institución no<br>
                    se hace responsable de alguna novedad presentada en el Escenario o sitio de práctica.<br>
                     La etapa práctica se realizara solamente a nivel municipal y departamental (Departamento de Sucre).<br>
                     Quien solicite aplazamiento de etapa practica tiene plazo mínimo de 11 meses para iniciar el proceso,<br>
                    de lo contrario debe solicitar actualización de competencias específicas (el valor se encuentra en la<br>
                    resolución de costos internos vigentes).<br>
                     Si al momento de solicitar la actualización de competencias específicas el estudiante se encuentra<br>
                    laborando en el área específica se aplica Reconocimiento de aprendizajes previos de práctica.<br>
                     Si el estudiante termina la etapa lectiva y no solicita aplazamiento de etapa práctica, será considerado<br>
                    un estudiante en estado retirado y deberá acogerse a los requisitos de reintegro (que se encuentra en el<br>
                    artículo 37°. Reintegros del Doc-GA-11. Manual de Convivencias).<br><br>
                    <strong><span style="color: #800080;">DEBERES DEL ESTUDIANTE EN PRÁCTICAS:</span></strong><br><br>
                     Estar a Paz y Salvo con los respectivos pagos de la Institución.<br>
                     Portar el carné de identificación entregado por el Instituto CERS debidamente actualizado<br>
                     Cumplir estrictamente el turno de las prácticas: 07:00 AM a 01:00 PM o de 01:00 PM a 07:00 PM. para<br>
                    los programas de la Salud, de lo contrario el establecido por la empresa.<br>
                     Asistir a la Entidad o Empresa con el uniforme reglamentario, limpio y bien presentado.<br>
                     Asistir al 100% de las horas requisito para dar su paz y salvo de práctica.<br>
                     Abstenerse de intervenir en asuntos internos de carácter laboral de la entidad o empresa donde<br>
                    adelanta su práctica.<br>
                     Durante el tiempo destinado a la práctica, no debe realizar otras actividades, o abandonar el centro de<br>
                    práctica antes del tiempo señalado.<br>
                     Dar un trato de respeto, cortesía, urbanidad y buenas maneras a sus compañeros, Directivos, y demás<br>
                    funcionarios de la entidad o empresa.</p>
                    <p> Evitar retirarse bajo ninguna excusa del sitio o servicio de prácticas. Ante cualquier necesidad,<br>
                    consultar y solicitar el permiso con jefe inmediato o Docente de práctica, y si la ausencia se realizará<br>
                    por varios días debe solicitarlo ante el auxiliar de práctica y esta realice las mediadas respectivas.<br>
                     Acatar las Normas y reglamento de la Institución de Práctica, así como las observaciones,<br>
                    recomendaciones y llamados de atención de cada jefe inmediato.<br>
                     Informar al auxiliar de práctica si presenta alguna enfermedad, incapacidad médica, calamidad<br>
                    familiar y/o alguna situación de tipo físico o emocional que ponga en riesgo la integridad del estudiante<br>
                    y la de las demás persona e impida el normal desarrollo durante las prácticas.<br>
                     Seguir el conducto regular en todos los trámites y actividades relacionadas con la práctica. (Tanto en<br>
                    la entidad como en la Institución).<br>
                     Mantener en perfectas condiciones los equipos que se le suministre para el ejercicio de la práctica y<br>
                    utilizarlo racional y cuidadosamente; todo lo que dañen voluntaria o involuntariamente de los muebles<br>
                    o inmuebles de la entidad es responsabilidad del practicante.<br>
                     Presentar ante el Auxiliar de prácticas el certificado o constancia de terminación de la práctica, Fto-<br>
                    GA-29 Planillas de Asistencia Prácticas y Fto-GA-30 Evaluación de Desempeño de Estudiante en<br>
                    Prácticas durante la semana siguiente a la terminación de su tiempo de práctica.<br>
                     En caso de un accidente biológico acudir a la entidad de prestación de servicios de salud que asigna la<br>
                    aseguradora para la atención.<br>
                     Mantener en la mayor reserva, confidencialidad y silencio toda la información manejada y conocida<br>
                    de la entidad donde realiza la práctica.<br>
                     Cumplir con el reglamento de práctica y procedimientos de la entidad donde adelante la práctica.<br><br>
                    <strong><span style="color: #800080;">DERECHOS DE LOS ESTUDIANTES EN PRÁCTICAS:</span></strong><br><br>
                     Realizar sus prácticas en ocupaciones relacionadas directamente con el perfil para el cual se está<br>
                    formando.<br>
                     Recibir trato respetuoso del personal de la entidad donde está realizando la práctica.<br>
                     Contar con las condiciones físicas, ambientales y estabilidad necesaria para su desempeño laboral.<br>
                     Recibir de las entidades donde realice la práctica los elementos y materiales de trabajo necesarios<br>
                    para el normal desempeño de su labor.<br>
                     Recibir orientación y asesoría de manera clara y oportuna en relación con su desempeño.<br>
                     Recibir por parte de la Institución, retroalimentación sobre el desempeño de su trabajo, el<br>
                    desarrollo y el resultado del proceso evaluativo de su práctica.<br>
                     Presentar las respectivas reclamaciones en caso de detectarse alguna dificultad con su práctica.<br>
                     Recibir respuestas oportunas a las inquietudes o dificultades manifestadas por escrito a la Auxiliar<br>
                    de Practicas.<br>
                     Rotar por las diferentes áreas de servicio acorde a las posibilidades y recursos disponibles por la<br>
                    entidad; siempre y cuando estas actividades estén directamente relacionadas con su respectivo<br>
                    plan de estudios o plan de rotación en los programas de salud.<br>
                     Aplazar la práctica bajo las razones justificadas.</p>
                    <h3><strong><u><span style="color: #800080;">NÚMERO DE HORAS SEGÚN EL PROGRAMA DE FORMACIÓN</span> </u></strong></h3>
                    <table style="text-align:center;">
                    <tbody>
                    <tr>
                    <td width="353"><span style="color: #800080;"><strong>PROGRAMA</strong></span></td>
                    <td width="125"><span style="color: #800080;"><strong>N° HORAS PRACTICAS</strong></span></td>
                    <td width="126"><span style="color: #800080;"><strong>TIEMPO DE DURACIÓN EN MESES</strong></span></td>
                    </tr>
                    <tr>
                    <td width="353">Asistente Administrativo</td>
                    <td width="125">755 Horas</td>
                    <td width="126">5 Meses</td>
                    </tr>
                    <tr>
                    <td width="353">Seguridad Ocupacional</td>
                    <td width="125">550 Horas</td>
                    <td width="126">3 Meses Y Medio</td>
                    </tr>
                    <tr>
                    <td width="353">Atención Integral A La Primera Infancia,&nbsp; Belleza Integral,&nbsp; Mto Equipos Electrónicos,&nbsp; Análisis Y Desarrollo De Sistemas De La Información,&nbsp; mecánica Diesel Y Vehículo Motor,&nbsp; Mto De Hardware,&nbsp; Producción Pecuaria,&nbsp; Confección Y Diseño De Modas</td>
                    <td width="125">650 Horas</td>
                    <td width="126">4 Meses Y Medio</td>
                    </tr>
                    <tr>
                    <td width="353">Auxiliar Contable Y Financiero,&nbsp; Mercadeo Y Ventas,&nbsp; Auxiliar Administrativo</td>
                    <td width="125">700 Horas</td>
                    <td width="126">5 Meses</td>
                    </tr>
                    <tr>
                    <td rowspan="2" width="353">Aux En Servicios Farmacéuticos</td>
                    <td width="125">No Clínicas&nbsp; 643</td>
                    <td width="126">4 Meses Y Medio</td>
                    </tr>
                    <tr>
                    <td width="125">Clínicas 353</td>
                    <td width="126">2 Meses Y Medio</td>
                    </tr>
                    </tbody>
                    </table><br><br>
                    <ul>
                    <li><strong><u>ANEXOS DE LA HOJA DE VIDA: </u></strong></li>
                    <li>Constancia de Apto para prácticas(Esta la entrega el Auxiliar Académico)</li>
                    <li>Fotocopia del diploma o acta de grado</li>
                    <li>Fotocopia del documento de identidad</li>
                    <li>Fotocopia de los certificados (diplomados, seminarios, cursos) descritos en la hoja de vida.</li>
                    <li>Antecedentes penales (contraloría, pasado judicial, procuraduría).</li>
                    </ul>
                    <h3><span style="color: #800080;"><strong>SOLICITUDES DE ESTUDIANTES EN PRÁCTICAS:</strong></span></h3>
                    <p>Dentro de este procedimientos de prácticas pueden existir las siguientes novedades: Aplazamiento de Practicas, Reconocimiento de Aprendizajes Previos de Prácticas, Cambio de Sitios de Practicas, Autogestión de Practicas.</p>
                    <h4><span style="color: #800080;"><strong>&nbsp;Aplazamiento de prácticas: </strong></span>Es la&nbsp; desvinculación temporal de la práctica, justificado por las siguientes causas:</h4>
                    <ul>
                    <li>Incapacidad médica (original)</li>
                    <li>Periodo de gestación.</li>
                    <li>Problemas de seguridad.</li>
                    <li>Servicio militar (solo para hombre)</li>
                    <li>Calamidad doméstica.</li>
                    <li>Problemas económicos.</li>
                    </ul>
                    <h4><span style="color: #800080;"><strong>Reconocimientos de aprendizajes previos de práctica:</strong></span> se considera cuando el estudiante se encuentra laborando en una entidad o empresa donde el cargo desempeñado se ajuste al perfil ocupacional del programa en curso&nbsp; para ello debe comunicar al auxiliar de práctica la situación y se solicita los siguientes documentos:</h4>
                    <ul>
                    <li>Certificado laboral con funciones Específicas no superior a treinta (30) días.</li>
                    <li>Certificado de cámara de comercio de la empresa o entidad no superior a treinta (30) días.</li>
                    <li>Copia de Cédula de Ciudadanía del representante legal.</li>
                    <li>Registro único tributario – RUT.</li>
                    <li>Contrato laboral con funciones específicas.</li>
                    <li>Fotocopia de ARL y EPS vigente.</li>
                    </ul>
                    <h3><span style="color: #800080;"><strong>Autogestión de Practicas</strong></span></h3>
                    <ul>
                    <li>Certificado de cámara de comercio de la empresa o entidad no superior a treinta (30) días.</li>
                    <li>Copia de Cédula de Ciudadanía del representante legal.</li>
                    <li>Registro único tributario – RUT.</li>
                    </ul>
                    <h1><strong><span style="color: #800080;">Descargar Formato de la Hoja de Vida</span><br>
                    </strong></h1>
                    <p><a href="https://www.institutocers.edu.co/wp-content/uploads/2018/09/Fto-GA-28-Hoja-de-vida-Estudiante-en-Practica.docx"><img loading="lazy" class="alignleft wp-image-761 size-full" src="http://www.institutocers.edu.co/wp-content/uploads/2013/11/imagen-hoja-de-vida.png" alt="imagen hoja de vida" width="150" height="114" srcset="https://www.institutocers.edu.co/wp-content/uploads/2013/11/imagen-hoja-de-vida.png 150w, https://www.institutocers.edu.co/wp-content/uploads/2013/11/imagen-hoja-de-vida-100x75.png 100w" sizes="(max-width: 150px) 100vw, 150px"></a></p>
                        </div>
                    </article>	</div>
               </div>
              </div>
              </div>
      </section>

      <section id="somos-proya" class="convenios">
        <div class="container">
            <div class="texto">
               <div style="text-align: center; padding: 50px; margin: 50px;">
                    <h1>Convenios</h1><br>
                    <h3><span style="color: #800080;">NUESTROS CONVENIOS EMPRESARIALES</span></h3>
                     <div class="cartaunoo"><img src="./img/conveniouno.jpg" alt="convenios" width="800" height="500"></div>
                     <div class="cartadoss"><img src="./img/conveniodos.jpg" alt="convenios" width="800" height="500"></div>
                     <div class="cartatress"><img src="./img/conveniotres.jpg" alt="convenios" width="800" height="500"></div>
                     <div class="cartacuatroo"><img src="./img/conveniocuatro.jpg" alt="convenios" width="800" height="500"></div>
               </div>
              </div>
              </div>
      </section>
       
    <footer class="footer">
        <div class="footer">
            <div class="caja-contenedor">
                <div class="caja">
                    <h3>noticias e informacion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate aperiam ratione consectetur porro inventore laborum maxime, ipsa molestias eum itaque. Accusamus, accusantium illum sit commodi deleniti veniam libero labore unde!</p>
                </div>
                <div class="caja">
                    <h3>buscanos en</h3>
                    <a href="#">facebook</a>
                    <a href="#">instagram</a>
                    <a href="#">pinterest</a>
                    <a href="#">twitter</a>
                </div>
                <div class="caja">
                    <h3>mas informacion</h3>
                    <div class="info">
                        <i class="fa-solid fa-phone" style="color: blueviolet;"></i>
                        <p>123-456-789 <br> 798-444-521</p>
                    </div>
                    <div class="caja">
                    <h3>ADMINISTRACION</h3>
                   <a href="auth">administracion</a>
                </div>
                    <div class="info">
                        <i class="fa-solid fa-envelope" style="color:blueviolet;"></i>
                        <p>holamundo@gmail.com<br>helloword@gmail.com</p>
                    </div>
                    <div class="info">
                        <i class="fa-solid fa-location-dot" style="color: blueviolet;"></i>
                        <p>since sucre<br> calle 14 carre 7</p>
                    </div>
                </div>
            </div>
    
            <h1 class="creditos">
                &copy, copyright @ alumno ramilian rincon
            </h1>
        </div>
    
    </footer>
</body>
</html>