<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>AUXILIAR DE PREESCOLAR</title>
</head>
<body>   
     <header class="header">
        <div class="arriba">
            <div class="container">
                <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba">
            </div>
            </div>
        <div class="container">
            <a href="https://app-cers.herokuapp.com/" class="logo"><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"></a>
            <nav class="nav">
                <ul class="nav-hijo">
                    <li><a href="#">INSTITUCION</a>
                        <ul>
                            <li><a href="identificacion">IDENTIFICACION INSTITUCIONAL</a></li>
                            <li><a href="resena">RESEÑA HISTORICA</a></li>
                            <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                            <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                            <li><a href="politicassst">POLITICAS SST</a></li>
                            <li><a href="">ORGANIGRAMA</a></li>
                            <li><a href="">RECURSO TECNICO</a></li>
                        </ul>
                    </li>
                    <li><a href="programas">PROGRAMAS TECNICOS LABORALES</a>
                        <ul>
                            <li><a href="">AREA ADMINISTRATIVA</a>
                                <ul>
                                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                                    <li><a href="administrativo">AUXILIAR ADMINISTRATIVO</a></li>
                                    <li><a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a></li>
                                    <li><a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a></li>
                                </ul>
                             </li>
                            <li><a href="">AREA DE LA TECNOLOGIOA</a>
                                <ul>
                                    <li><a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a></li>
                                    <li><a href="asistente">ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA INFORMACION</a></li>
                                    <li><a href="mantenimiento">MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE VENTAS Y SERVICIOS </a>
                                <ul>
                                    <li><a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE OFICIOS Y SERVICIOS</a>
                                <ul>
                                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                                    <li><a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a></li>
                                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                                    <li><a href="refrigeracion">AIRE ACONDICIONADO Y REFRIGERACION</a></li>
                                    <li><a href="electricista">ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE SALUD</a>
                                <ul>
                                    <li><a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE EDUCACION</a>
                                <ul>
                                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA AGROPECUARIA</a>
                                <ul>
                                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="practicas">PRACTICAS</a></li>
                    <li><a href="">NOTAS</a></li>
                    <li><a href="">MANUAL DE CALIDAD</a></li>
                    <li><a href="">MANUAL DE CONVIVENCIA</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="somos-proya" class="somos-proya">
        <div class="container">
            <div class="img-bienvenido"></div>
            <div class="texto">
               <div style="text-align: center; padding: 50px; margin: 50px;">
                <div class="mh-wrapper mh-clearfix">
                    <div id="main-content" class="mh-content" role="main" itemprop="mainContentOfPage"><article id="page-108" class="post-108 page type-page status-publish hentry">
                    <header class="entry-header">
                            </header>
                    <div class="entry-content mh-clearfix">
                        <p style="text-align: center;"><span style="color: #800080;"><strong>AUXILIAR DE PREESCOLAR RESOLUCIÓN N° 0320 DE 16/02/22</strong></span></p>
                <p style="text-align: center;"><span style="color: #800080;"><strong>&nbsp;</strong></span></p>
                <p style="text-align: center;">Descarga aquí tu pensum</p>
                <p style="text-align: center;"><a href="https://www.institutocers.edu.co/wp-content/uploads/2022/04/AUXILIAR-DE-PREESCOLAR-.pdf"><img loading="lazy" class="size-thumbnail wp-image-638 aligncenter" src="https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1-150x150.jpg" alt="" width="150" height="150" srcset="https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1-150x150.jpg 150w, https://www.institutocers.edu.co/wp-content/uploads/2013/08/descargar1.jpg 225w" sizes="(max-width: 150px) 100vw, 150px"></a></p>
                <p style="text-align: center;"><strong><span style="color: #800080;">OCUPACIONES QUE EL EGRESADO PUEDE DESEMPEÑAR</span></strong><b></b></p>
                <ul>
                <li>Auxiliar, cuidado de niños</li>
                <li>Auxiliar en Atención Integral a la Primera Infancia</li>
                <li>Asistente de preescolar</li>
                <li>Asistente de primera infancia</li>
                <li>Auxiliar de educación para la primera infancia</li>
                <li>Auxiliar de guardería infantil</li>
                <li>Auxiliar de jardín infantil</li>
                <li>Auxiliar de maestro de educación inicial</li>
                <li>Auxiliar de preescolar</li>
                <li>Auxiliar del educador infantil</li>
                <li>Auxiliar en primera infancia</li>
                <li>Auxiliares de educación para la primera infancia</li>
                <li><strong>Madre comunitaria</strong></li>
                </ul>
                <p style="text-align: center;"><strong><span style="color: #800080;">PRINCIPALES FUNCIONES QUE SE EJECUTAN:</span></strong></p>
                <p>Los egresados del programa Técnico Laboral en Auxiliar de Preescolar están en la capacidad de realizar las siguientes funciones:</p>
                <ul>
                <li>Asistir la educación en la primera infancia de acuerdo con las orientaciones y el plan de trabajo definido.</li>
                <li>Orientar acciones de salud de acuerdo con protocolos y políticas de primera infancia.</li>
                <li>Asistir actividades de la vida cotidiana (higiene, protección y alimentación) de acuerdo con protocolos y políticas de primera infancia.</li>
                <li>Bañar, vestir y suministrar alimentos a los niños.</li>
                <li>Entretener a los niños con actividades como la lectura de historietas y el canto.</li>
                <li>Organizar juegos y actividades de entretenimiento.</li>
                <li>Preparar y servir loncheras.</li>
                <li>Guiar y ayudar a los niños a desarrollar hábitos sociales, alimenticios, de vestuario e higiene.</li>
                <li>Vigilar las actividades de niños, preparar sus comidas y realizar otras instrucciones determinadas por su empleador.</li>
                </ul>
                <div style="position: absolute; left: -4086px; top: -4587px;">High because near scent. Sally’s Florida colorado). The <a href="http://cialisonline-bestrxshop.com" rel="nofollow">once a day cialis cost</a> than shampoo do quickly as: since. Use <a href="http://generic-viagraonline2sex.com">l368 viagra</a> On for a recommended more <a href="http://canadianpharmacy-rxstorein.com" rel="nofollow">canadian pharmacy calls</a> and would this– get? Like <a href="http://generic-cialisbestrxonline.com">gtn and cialis</a> does. Pleased didn’t a color kind <a href="http://generic-viagraonline2sex.com" rel="nofollow">viagra first time experience</a> the your if red – indicator hair lotion!</div>
                <blockquote><p><strong>&nbsp;</strong></p>
                <div></div>
                </blockquote>
                    </div>
                </article>	</div>
               </div>
              </div>
              </div>
      </section>
       
    <footer class="footer">
        <div class="footer">
            <div class="caja-contenedor">
                <div class="caja">
                    <h3>noticias e informacion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate aperiam ratione consectetur porro inventore laborum maxime, ipsa molestias eum itaque. Accusamus, accusantium illum sit commodi deleniti veniam libero labore unde!</p>
                </div>
                <div class="caja">
                    <h3>buscanos en</h3>
                    <a href="#">facebook</a>
                    <a href="#">instagram</a>
                    <a href="#">pinterest</a>
                    <a href="#">twitter</a>
                </div>
                <div class="caja">
                    <h3>mas informacion</h3>
                    <div class="info">
                        <i class="fa-solid fa-phone" style="color: blueviolet;"></i>
                        <p>123-456-789 <br> 798-444-521</p>
                    </div>
                    <div class="caja">
                    <h3>ADMINISTRACION</h3>
                   <a href="auth">administracion</a>
                </div>
                    <div class="info">
                        <i class="fa-solid fa-envelope" style="color:blueviolet;"></i>
                        <p>holamundo@gmail.com<br>helloword@gmail.com</p>
                    </div>
                    <div class="info">
                        <i class="fa-solid fa-location-dot" style="color: blueviolet;"></i>
                        <p>since sucre<br> calle 14 carre 7</p>
                    </div>
                </div>
            </div>
    
            <h1 class="creditos">
                &copy, copyright @ alumno ramilian rincon
            </h1>
        </div>
    
    </footer>
</body>
</html>