<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>PROPOSITO INSTITUCIONAL</title>
</head>
<body>   
    <header class="header">
        <div class="arriba">
            <div class="container">
                <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba">
            </div>
            </div>
        <div class="container">
            <a href="index" class="logo"><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"></a>
            <nav class="nav">
                <ul class="nav-hijo">
                    <li><a href="#">INSTITUCION</a>
                        <ul>
                            <li><a href="identificacion">IDENTIFICACION INSTITUCIONAL</a></li>
                            <li><a href="resena">RESEÑA HISTORICA</a></li>
                            <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                            <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                            <li><a href="politicassst">POLITICAS SST</a></li>
                            <li><a href="">ORGANIGRAMA</a></li>
                            <li><a href="">RECURSO TECNICO</a></li>
                        </ul>
                    </li>
                    <li><a href="programas">PROGRAMAS TECNICOS LABORALES</a>
                        <ul>
                            <li><a href="">AREA ADMINISTRATIVA</a>
                                <ul>
                                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                                    <li><a href="administrativo">AUXILIAR ADMINISTRATIVO</a></li>
                                    <li><a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a></li>
                                    <li><a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a></li>
                                </ul>
                             </li>
                            <li><a href="">AREA DE LA TECNOLOGIOA</a>
                                <ul>
                                    <li><a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a></li>
                                    <li><a href="asistente">ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA INFORMACION</a></li>
                                    <li><a href="mantenimiento">MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE VENTAS Y SERVICIOS </a>
                                <ul>
                                    <li><a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE OFICIOS Y SERVICIOS</a>
                                <ul>
                                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                                    <li><a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a></li>
                                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                                    <li><a href="refrigeracion">AIRE ACONDICIONADO Y REFRIGERACION</a></li>
                                    <li><a href="electricista">ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE SALUD</a>
                                <ul>
                                    <li><a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA DE EDUCACION</a>
                                <ul>
                                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                                </ul>
                            </li>
                            <li><a href="">AREA AGROPECUARIA</a>
                                <ul>
                                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="practicas">PRACTICAS</a></li>
                    <li><a href="">NOTAS</a></li>
                    <li><a href="">MANUAL DE CALIDAD</a></li>
                    <li><a href="">MANUAL DE CONVIVENCIA</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="somos-proya" class="somos-proya">
        <div class="container">
            <div class="img-bienvenido"></div>
            <div class="texto">
            <h2>PROPOSITO INSTITUCIONAL</h2><br>
            <h3>VALORES INSTITUCIONALES</h3>
               <p style="padding: 50px; margin: 50px;">
                <ul>
                    <p>Contar con el personal competente e idóneo para la prestación y promoción del servicio</p>
                    <li>Prestar una formación integral, con calidad humana que imparta los conocimientos fundamentales en los programas ofrecidos, desarrollando habilidades y destrezas basadas en las competencias laborales.</li>
                    <li>Preparar al estudiante para su vinculación con la sociedad, el trabajo y con el sector productivo.</li>
                    <li>Desarrollar programas de formación académica y técnicos laborales que contribuyan en los procesos de cualificación del talento humano para el desarrollo del sector industrial, agropecuario, social, ecológico y económico.</li>
                    <li>asesoría y capacitación técnica en lo concerniente al desarrollo social, económico y ecológico del municipio, el departamento y la región.</li>
                    <li>Promover la preservación de un medio ambiente sano y fomentar la educación y cultura ecológica</li>

                    <li>Generar en el estudiante sentido de responsabilidad, compromiso social, laboral, ecológico, económico, cultural.</li>
                    <li>las herramientas tecnológicas para mejorar la prestación del servicio.</li>
                    <li>Consolidar el proceso de articulación entre Instituto CERS y la educación Superior.</li>
                    <li>Conseguir que la mayoría de nuestros egresados articulen sus estudios con la educación superior (técnica profesional y/o Tecnológica).</li>
                    <li>Contar con la infraestructura adecuada para la prestación del servicio.</li>
                    <li>Establecer alianzas con otras instituciones para la prestación del servicio y fortalecimiento del Instituto CERS.</li>
                </ul>
               </p><br>
               <h3>OBJETIVOS INSTITUCIONALES</h3>
               <P>Contar con el personal competente e idóneo para la prestación y promoción del servicio
                <ul>
                • Prestar una formación integral, con calidad humana que imparta los conocimientos fundamentales en los programas ofrecidos, desarrollando habilidades y destrezas basadas en las competencias laborales.<br>
                • Preparar al estudiante para su vinculación con la sociedad, el trabajo y con el sector productivo.<br>
                • Desarrollar programas de formación académica y técnicos laborales que contribuyan en los procesos de cualificación del talento humano para el desarrollo del sector industrial, agropecuario, social, ecológico y económico.<br>
                • Suministrar asesoría y capacitación técnica en lo concerniente al desarrollo social, económico y ecológico del municipio, el departamento y la región.<br>
                • Promover la preservación de un medio ambiente sano y fomentar la educación y cultura ecológica.<br>
                • Generar en el estudiante sentido de responsabilidad, compromiso social, laboral, ecológico, económico, cultural.<br>
                • Fortalecer las herramientas tecnológicas para mejorar la prestación del servicio.<br>
                • Consolidar el proceso de articulación entre Instituto CERS y la educación Superior.<br>
                • Conseguir que la mayoría de nuestros egresados articulen sus estudios con la educación superior (técnica profesional y/o Tecnológica).<br>
                • Contar con la infraestructura adecuada para la prestación del servicio.<br>
                • Establecer alianzas con otras instituciones para la prestación del servicio y fortalecimiento del Instituto CERS.
                </ul>
                 </P><br>
               <h3>POLITICAS INSTITUCIONALES</h3>
               <p>“Una Educación de calidad es la que forma mejores seres humanos, ciudadanos con valores éticos, respetuosos de lo público, que ejercen los Derechos Humanos y conviven en paz. Una Educación que genera oportunidades legitimas de progreso y prosperidad para ellos”(MEN). Para el instituto CERS consiste en ofrecer Educación con calidad, pertinente y adecuada a las necesidades, posibilidades, intereses y expectativas de todos los estudiantes.
                DE ACCESO: Todos los grupos poblaciones tienen acceso al Instituto CERS en ejercicio de sus derechos fundamentales a la Educación y en concordancia con la pertinencia Educativa
                DE PERMANECIA: El Instituto CERS reconoce que el aprendizaje es un derecho y que todas las personas pueden aprender y desarrollar habilidades sociales. Para ello es necesario:<br>
                • Dar penitencia de la Educación que ofrece.<br>
                • Flexibilizar los planes de estudio de manera que se facilite el aprendizaje y el desarrollo de capacidades y competencias en todos los estudiantes.<br>
                • Formar a la Docentes de manera que puedan desarrollar el proceso Educativo con equidad y desde el respeto por la diversidad.<br>
                • Trabajar en la proyección y solución de las necesidades.<br>
                • La estructura organizacional de la Institución, Manual de funciones y el Manual de convivencia son de obligatorio cumplimiento.<br>
                • El PEI está sujeto al continuo fortalecimiento de acuerdo a las necesidades e intereses Institucionales, así como las nuevas reglamentaciones.<br>
                • El uso de mobiliarios, equipos, ambientes de aprendizaje y salas de sistemas está sujeto a las normas establecidas en el Manual de Convivencia.<br>
                • Al firmar la matricula , el estudiante asume el compromiso de cumplir lo estipulado en el Manual de Convivencia.<br>
                • Los evento pedagógicos , deportivo, culturales y ambientales deben contar con la participación de la comunidad Educativa.</p><br>
              </div>
              </div>
      </section>
       
    <footer class="footer">
        <div class="footer">
            <div class="caja-contenedor">
                <div class="caja">
                    <h3>noticias e informacion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate aperiam ratione consectetur porro inventore laborum maxime, ipsa molestias eum itaque. Accusamus, accusantium illum sit commodi deleniti veniam libero labore unde!</p>
                </div>
                <div class="caja">
                    <h3>buscanos en</h3>
                    <a href="#">facebook</a>
                    <a href="#">instagram</a>
                    <a href="#">pinterest</a>
                    <a href="#">twitter</a>
                </div>
                <div class="caja">
                    <h3>mas informacion</h3>
                    <div class="info">
                        <i class="fa-solid fa-phone" style="color: blueviolet;"></i>
                        <p>123-456-789 <br> 798-444-521</p>
                    </div>
                    <div class="caja">
                    <h3>ADMINISTRACION</h3>
                   <a href="auth">administracion</a>
                </div>
                    <div class="info">
                        <i class="fa-solid fa-envelope" style="color:blueviolet;"></i>
                        <p>holamundo@gmail.com<br>helloword@gmail.com</p>
                    </div>
                    <div class="info">
                        <i class="fa-solid fa-location-dot" style="color: blueviolet;"></i>
                        <p>since sucre<br> calle 14 carre 7</p>
                    </div>
                </div>
            </div>
    
            <h1 class="creditos">
                &copy, copyright @ alumno ramilian rincon
            </h1>
        </div>
    
    </footer>
</body>
</html>