<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/principal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>RESEÑA HISTORICA</title>
  </head>
  <body>
    <header class="header">
      <div class="arriba">
        <div class="container">
          <img src="../img/imagenprincipal.jpeg" alt="" class="img-arriba" />
        </div>
      </div>
      <div class="container">
        <a href="https://app-cers.herokuapp.com/" class="logo"
          ><img src="../img/LOGO.jpg" alt="cers" width="100px" height="40px"
        /></a>
        <nav class="nav">
          <ul class="nav-hijo">
            <li>
              <a href="#">INSTITUCION</a>
              <ul>
                <li>
                  <a href="identificacion">IDENTIFICACION INSTITUCIONAL</a>
                </li>
                <li><a href="resena">RESEÑA HISTORICA</a></li>
                <li><a href="plataforma">PLATAFORMA ESTRATEGICA</a></li>
                <li><a href="proposito">PROPOSITO INSTITUCIONAL</a></li>
                <li><a href="politicassst">POLITICAS SST</a></li>
                <li><a href="">ORGANIGRAMA</a></li>
                <li><a href="">RECURSO TECNICO</a></li>
              </ul>
            </li>
            <li>
              <a href="programas">PROGRAMAS TECNICOS LABORALES</a>
              <ul>
                <li>
                  <a href="">AREA ADMINISTRATIVA</a>
                  <ul>
                    <li><a href="secretaria">SECRETARIA GENERAL</a></li>
                    <li>
                      <a href="administrativo">AUXILIAR ADMINISTRATIVO</a>
                    </li>
                    <li>
                      <a href="contable">AUXILIAR CONTABLE Y FINANCIERA</a>
                    </li>
                    <li>
                      <a href="seguridad">SEGURIDAD OCUPACIONAL Y LABORAL</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE LA TECNOLOGIOA</a>
                  <ul>
                    <li>
                      <a href="sistemas">AUXILIAR EN SISTEMAS INFORMATICOS</a>
                    </li>
                    <li>
                      <a href="asistente"
                        >ASISTENTE Y SOPORTE DE LA TEGNOLOGIA DE LA
                        INFORMACION</a
                      >
                    </li>
                    <li>
                      <a href="mantenimiento"
                        >MANTENIMIENTO DE EQUIPOS ELECTRONICOS</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE VENTAS Y SERVICIOS </a>
                  <ul>
                    <li>
                      <a href="mercaderistas">MERCADERISTAS E IMPULSADORES</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE OFICIOS Y SERVICIOS</a>
                  <ul>
                    <li><a href="peluquero">PELUQUERO ESTILISTA</a></li>
                    <li>
                      <a href="cortes">AUXILIAR CORTE Y CONJFECCION DE MODAS</a>
                    </li>
                    <li><a href="mecanica">MECANICO DE MOTORES DIESEL</a></li>
                    <li>
                      <a href="refrigeracion"
                        >AIRE ACONDICIONADO Y REFRIGERACION</a
                      >
                    </li>
                    <li>
                      <a href="electricista"
                        >ELECTRICISTA DE MONTAJE Y MANTENIMIENTO</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE SALUD</a>
                  <ul>
                    <li>
                      <a href="farmacia">AUXILIAR EN SERVICIOS FARMACEUTICOS</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA DE EDUCACION</a>
                  <ul>
                    <li><a href="preescolar">AUXILIAR DE PREESCOLAR</a></li>
                  </ul>
                </li>
                <li>
                  <a href="">AREA AGROPECUARIA</a>
                  <ul>
                    <li><a href="agropecuaria">TRABAJADOR AGROPECUARIO</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="practicas">PRACTICAS</a></li>
            <li><a href="">NOTAS</a></li>
            <li><a href="">MANUAL DE CALIDAD</a></li>
            <li><a href="">MANUAL DE CONVIVENCIA</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="somos-proya" class="somos-proya">
      <div class="container">
        <div class="img-bienvenido"></div>
        <div class="texto">
          <h2>RESEÑA HISTORICA</h2>
          <p style="text-align: center; padding: 50px; margin: 50px">
            Sincelejo desde años atrás ha crecido de una manera Considerable,
            las Instituciones Educativas de bachillerato han egresado más de
            25.000 estudiantes aproximadamente los cuales son pocos los que han
            continuado estudios superiores, es por ello que se toma la
            iniciativa de crear la institución de educación No Formal denominada
            Centro Educativo Regional de Sucre “CERS” el cual parte de una
            filosofía de aptitud ocupacional, teniendo en cuenta que para este
            tiempo son pocos los entes de Educación Superior y de Educación no
            Formal presentes en el departamento. Fue así en el año 2001 cuando
            se inicia la recolección de datos e informaciones para la ejecución
            del proyecto que debían ser presentado ante Secretaria de Educación
            Departamental siendo su propietario y Representante Legal en ese
            entonces el señor Javier de Jesús Llanos de Ávila. Una vez
            presentado a esta entidad se obtuvo la aprobación el 17 de Julio del
            2001 dando de inmediato inicio a las labores académicas con sede
            ubicada en la Cra. 17 Nº 15-08 Barrio Chacurí, con los siguientes
            programas de actitud ocupacional como técnico en: Secretariado
            Ejecutivo Sistematizado, Contabilidad Sistematizada, Técnico
            Auxiliar en Ingeniería de Sistemas, Técnico en Producción Agrícola
            Ecológica y Técnico en Producción Pecuaria Sostenible cada una de
            estos con una duración de 24 meses, es decir, cuatro (4) semestres;
            además, se dio inicio a los cursos de asistencia en: Mantenimiento
            de Computadores, Mercadeo Sistematizado y Operador de Sistemas, con
            una población total de 70 estudiantes aproximadamente, la
            distribución de horarios para estos programa se daban en las tres
            Jornadas (Matinal, Vespertina y Nocturna), las instalaciones
            locativas se distribuían para ese entonces de la siguiente manera 5
            salones de clases, una sala de sistema con 9 computadores, una
            oficina de Recepción, una oficina de Tesorería y una oficina de
            administración. La planta de personal se componía por 3 docentes,
            una secretaria auxiliar contable, una recepcionista un administrador
            y un mensajero. Para el año subsiguiente, 2002 se contaba con 154
            estudiantes presentándose un incremento del 120% con relación a la
            población estudiantil del año inmediatamente anterior. En este mismo
            año el propietario y Director Javier De Jesús Llanos de Ávila
            solicita a la Secretaría de Educación Departamental, el cambio de
            propietario y Representante Legal del establecimiento, presentando
            como nueva propietaria y representante legal a la Señora Gina Paola
            Medina Pinedo. En el año 2003, según resolución Nº 2077 de fecha 11
            de agosto se reconoce a la Señora Gina Paola Medina Pinedo como
            nueva propietaria y representante legal del Instituto CERS. Quien
            posteriormente solicitó a la Secretaria de Educación Departamental
            ampliación de programas de actitud ocupacional como: Técnico en
            Administración de Empresas, Técnico en Prescolar y Recreación y
            Técnico en Mercadeo y Caja Sistematizada, y fue autorizada según
            Resolución Nº 3156 de 11 de Diciembre de 2003 la aprobación de
            dichos programas. De igual manera hizo la solicitud para la
            aprobación y extensión en el municipio de Sincelejo y Sampués; en
            Sincelejo en su sede Principal y en Sampues en las instalaciones de
            la Institución Educativa Indígena Técnico Agropecuaria de Escobar
            Arriba con los siguientes programas de actitud ocupacional: Técnico
            en Secretariado Sistematizado, Técnico en Contabilidad
            Sistematizada, Técnico en Mecánica Automotriz, y Técnico en
            Sistemas, y los cursos de asistencia: Operador de Computadores,
            Mercadeo y Caja sistematizada, Corte y Confección, Belleza
            profesional y Mantenimiento de Computadores; esta fue aprobada según
            Resolución Nº 3158 de 11 de diciembre de 2003. Para este mismo año
            se contaba con una población estudiantil de 210 estudiantes, lo cual
            conllevo a una ampliación de las instalaciones locativas aumentando
            los salones de 5 a 7 aulas; así mismo, se adquirieron 5 computadores
            para un total en la sala de sistemas de 14 equipos, con relación al
            área administrativa se abrió una nueva oficina para la coordinación
            académica, quedando la planta de personal con 5 personal y fue
            necesaria la contratación de 5 docentes para un total de 8 docente.
            En el año 2004 la población estudiantil aumenta considerablemente en
            un 80% con respecto al número de estudiantes del año anterior
            pasando de 210 a 378, creándose así la necesidad de adquirir 8
            computadores más, se organizo además un taller de mantenimiento de
            computadores y como no se contaba con más recursos económicos se
            estableció un convenio con un Taller de Mecánica (Taller Benítez) en
            donde los estudiantes de mecánica realizaban sus prácticas. En este
            mismo año se gradúa la primera promoción, la cual participaron 224
            estudiantes pertenecientes a los diferentes programas. El año 2005
            se cuenta con aproximadamente 575 estudiantes, notándose un
            incremento del 52% con relación al número de estudiantes del año
            anterior, este aumento vertiginoso conduce a la necesidad de
            construir 3 aulas, se construye además, el taller de mecánica
            dotados con 5 motores y las herramientas de trabajo necesarias para
            el buen desarrollo de las clases. Para finales de este año se gradúa
            la segunda promoción con 154 estudiantes. Para el primer semestre
            del año 2006 se inicia con 748 estudiantes, debido al aumento en la
            demanda de los programas y de acuerdo a la filosofía del Instituto
            es que todos nuestros estudiantes manejen la parte de sistemas por
            tal motivo se abre la sala de sistemas Nº 2 con 28 computadores mas
            dando así un gran paso a la modernización y a la educación con
            óptimos estándares de calidad. El Centro Educativo Regional de Sucre
            se ha convertido en una alternativa de educación para los población
            vulnerable de Sincelejo y sus alrededores, por esa acogida en el año
            2008 se logró la construcción de una sede de cinco pisos, adicional
            a la que existe para brindar mejores ambientes de aprendizaje y se
            cuenta con cuatro (4) salas de sistemas bien estructuradas. Para el
            año 2009 a raíz de las exigencias de la normatividad vigente
            amparados en el decreto 2888 de 2007 se reestructuran todos los
            programas técnicos ofertados por la institución y se hace la
            actualización de la licencia de funcionamiento, donde se cambiaron
            los nombres de los programas y sus plan de estudios, en ese mismo
            año se lograron 15 registro individuales de programas. En al año
            2010 se adquiere el registro de programas del área de la salud como
            lo es Auxiliar en Servicios Farmacéuticos y se ajustan loas
            ambientes de aprendizaje a la normatividad vigente, se amplía los
            convenios para acceder a las prácticas laborales con más de 30
            empresas nuevas y se remodela la parte administrativa de la
            institución en la sede 1 cruz de mayo. En el año 2011 se amplía la
            cobertura dando descuento a la población indígena y desplazada que
            sustentaran la multiculturalidad a la que pertenecían, se
            organizaron diferentes eventos, como fue el primer simulacro contra
            incendio apoyados por la defensa civil, la policía nacional y el
            cuerpo de bomberos para ofrecerle a la comunidad en general los
            servicios de nuestros estudiantes y así ser evaluados por estos, se
            implementó la estrategia de los cursos intensivos y/o diplomados
            para egresados, estudiantes, docentes y particulares para seguir
            actualizando sus competencias. En al año 2012, se realizo el cambio
            de imagen corporativa compuesta esta por el cambio de logotipo
            institucional y los colores distintivos de la institución, se
            organizaron eventos en el marco de la VI semana cultural como
            actividad principal se dio un reinado educativo donde las aspirantes
            representaba valores, hábitos de vida saludable, medio ambiente y
            educación y el III FASHION liderado por las estudiantes del programa
            técnico en de diseño de modas y Corte y Confección. En el año 2013
            se obtuvo la Certificación del Sistema de Gestión de Calidad en la
            norma NTC 5555 y la certificación de los siguientes programas en la
            NTC 5581: Asistente Administrativo, Atención Integral a la Primera
            Infancia, Mercadeo y Ventas, Seguridad Ocupacional y en la NTC 5663
            en Auxiliar en Servicios Farmacéuticos y la remodelación de la sede
            cruz de mayo parte estudiantil, en ese mismo año se remodelo la sede
            principal. En el año 2014 la Institución se destaca por lograr
            convenios con las diferentes instituciones públicas como por ejemplo
            el SENA y el Ministerio de Trabajo, y se concede la renovación de
            los registros de los Programas Técnico Laboral en: BELLEZA INTEGRAL
            RESOLUCIÓN 2503 DE 01/08/14, MANTENIMIENTO DE EQUIPOS ELÉCTRONICOS
            RESOLUCIÓN Nº 2513 DE 04/08/14, PRODUCCIÓN PECUARIA RESOLUCIÓN N°
            2535 DE 08/08/14, CONFECCIÓN Y DISEÑO DE MODAS RESOLUCIÓN N° 3132 DE
            23/09/14, AUXILIAR ADMINISTRATIVO RESOLUCIÓN N° 3350 DE 08/10/14,
            ANÁLISIS Y DESARROLLO DE SISTEMAS DE INFORMACIÓN RESOLUCIÓN Nº 3348
            DE 08/10/14, AUXILIAR CONTABLE Y FINANCIERO RESOLUCIÓN N° 2708 DE
            19/08/14, MANTENIMIENTO DE HARDWARE RESOLUCIÓN N° 3352 DE 04/08/14 y
            MECÁNICA DIESEL Y VEHICULO AUTOMOTOR En el año 2015 se otorga
            Licencia de Funcionamiento N° 2230 del 10 de Mayo de 2015, por
            cambio de Directora a GINA PAOLA MEDINA PINEDO y se concede la
            renovación de los registros de los Programas Técnico Laboral en:
            ASISTENTEADMINISTRATIVO RESOLUCIÒN Nº 0732 DE 02/03/15, ATENCIÒN
            INTEGRAL A LA PRIMERA INFANCIA RESOLUCIÒN Nº 0733 DE 02/03/15,
            SEGURIDAD OCUPACIONAL RESOLUCIÒN Nº 0734 DE 02/03/15 y MERCADEO Y
            VENTAS RESOLUCIÒN Nº 0735 DE 02/03/15. En el año 2016 se renueva el
            Acuerdo 0038 12/12/2016 del Programa en Auxiliar en Servicios
            Farmacéuticos por parte del Ministerio de la Protección Social. En
            el año 2017 el Centro Educativo Regional de Sucre CERS se actualiza
            en la ISO 9001:2015 y se realiza seguimiento en las NTC 5555, NTC
            5581, NTC 5663, y se concede la renovación del registro del Programa
            Técnico Laboral en Auxiliar en Servicios Farmacéuticos RESOLUCIÓN Nº
            0580 DE 13/02/17. En el año 2018 en el mes de diciembre el Centro
            Latinoamericano de Certificación CELAC realiza auditoria de
            seguimiento en la ISO 9001:2015 y en las NTC 5555, NTC 5581, NTC
            5663, manteniéndose la certificación de calidad. En enero de 2019 se
            solicitó a la Secretaria de Educación y Cultura Municipal de
            Sincelejo, el traslado de la SEDE 2 ubicada en la Cra. 19 No. 17-61
            Calle las Flores, a la sede principal ubicada en la Cra. 17 NO.15-08
            sector cruz de mayo teniendo en cuenta que la SEDE 2 no estaba
            siendo utilizada para el desarrollo del proceso académico. El 11 de
            febrero de 2019 la Secretaria de Educación y Cultura Municipal,
            otorga Licencia de Funcionamiento N° 0643 del 11 de febrero de 2019,
            por cierre de la sede ubicada en Cra. 19 No. 17-61 Calle las Flores
            del municipio de Sincelejo. Actualmente contamos con una población
            estudiantil alrededor de los 1.500 estudiantes y hemos hasta le
            fecha egresado más de 1.000 técnicos.
          </p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer">
        <div class="caja-contenedor">
          <div class="caja">
            <h3>noticias e informacion</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Cupiditate aperiam ratione consectetur porro inventore laborum
              maxime, ipsa molestias eum itaque. Accusamus, accusantium illum
              sit commodi deleniti veniam libero labore unde!
            </p>
          </div>
          <div class="caja">
            <h3>buscanos en</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">pinterest</a>
            <a href="#">twitter</a>
          </div>
          <div class="caja">
            <h3>mas informacion</h3>
            <div class="info">
              <i class="fa-solid fa-phone" style="color: blueviolet"></i>
              <p>
                123-456-789 <br />
                798-444-521
              </p>
            </div>
            <div class="caja">
              <h3>ADMINISTRACION</h3>
              <a href="auth">administracion</a>
            </div>
            <div class="info">
              <i class="fa-solid fa-envelope" style="color: blueviolet"></i>
              <p>holamundo@gmail.com<br />helloword@gmail.com</p>
            </div>
            <div class="info">
              <i class="fa-solid fa-location-dot" style="color: blueviolet"></i>
              <p>
                since sucre<br />
                calle 14 carre 7
              </p>
            </div>
          </div>
        </div>

        <h1 class="creditos">&copy, copyright @ alumno ramilian rincon</h1>
      </div>
    </footer>
  </body>
</html>
