@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

:root {
  --verde: #0c443a;
  --limon: #25d1b2;
  --degradado: linear-gradient(90deg, var(--limon), var(--verde));
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: var(--limon);
  color: white;
}

html {
  font-size: 62.4%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, #510086, rgb(93, 2, 179));
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--degradado);
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

.fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  background: url(../img/inicio_fondo.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.fondo h1 {
  font-size: 3rem;
  color: yellow;
  text-align: center;
  box-shadow: 50px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-top: 0;
}

.pedidos {
  width: auto;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 20px;
}

thead {
  background: rgb(229, 255, 0);
  color: blueviolet;
  font-size: 1.7rem;
  text-align: center;
}

tbody {
  color: yellow;
}

/* tr:nth-child(even){
  background: #ddd;
}*/

tr:hover td {
  background-color: #666;
}

td {
  font-size: 1.7rem;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.boton-eliminar {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: red;
}

.boton-eliminar:hover {
  cursor: pointer;
}
